/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: CSS class name to center align the content . */
.centered-content {
	margin: 0 auto;
	max-width: 250px;
}

.login-button {
	justify-content: flex-end;
	margin-left: auto;
	margin-right: 5px;
}

.text-red {
	background-color: white;
	color: red;
}

.registration-button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 200px;

}